
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,500;1,600;1,700&display=swap');

/* ----------
global section
------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
    

}
::before,
::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    color: var(--white-light);
}
/* ------variable section------- */

:root{
    --text-green:#27AE60;
    --text-blue:#192A56;
    --white:#ffffff;
    --grey:#EEEEEE;
    --box-shadow:0 0 15px rgba(0,0,0,.25);;
}
@keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
}
.btn-implement{
    text-transform: capitalize;
    background-color: var(--text-blue);
    color: var(--white);
    padding: 1rem 2rem;
    transition: all .4s linear;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.btn-implement:hover{
    color: var(--white);
    background-color: var(--text-green);
    padding: 1rem 2.8rem;
    
}
.sec-padding{
    padding: 6.5rem 0;
}
h1{
    color: var(--text-blue);
    font-size: 5rem;
    font-weight: 500;
    opacity: .9;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
h4{
    color: var(--text-green);
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 300;
}
h3{
    color: var(--text-blue);
    font-size: 2.5rem;
}

/* section-title */
.section-title{
    
    width: 100%;
    padding: 0 1.5rem;
    
    margin-bottom: 6rem;
}
.section-title h2{
    font-size: 3.6rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-blue);
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    font-size: 1.6rem;
    color: var(--text-green);
    font-family: var(--cursive-font);
    font-weight: 400;
    text-transform: capitalize;
}

.owl-carousel .owl-dots{
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel button.owl-dot{
    height: 6px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--text-green);
}


/* ---------
nav-section start
----------- */
/* ------header-------- */
/* header.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color: var(--main-color);
    padding: 10px 0;
    
} */
/* header{
    z-index: 1000;
    padding: 1rem 0;
    /* box-shadow: var(--box-shadow); */
}
/* header .nav-class{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} */
/* header .logo{
    color: var(--text-blue);
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
} */
/* header .logo i{
    color: var(--text-green);
}
header .nav-bar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--text-blue);
    text-decoration: none;
}
header .nav-bar a.active,
header .nav-bar a:hover{
    color: var(--white);
    background: var(--text-green);

} */

/* -----navbar---- */
/* .navbar-section.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color: var(--grey);
    
    padding: 1rem 0;
} */
/* .icons a,
.icons i{
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--grey);
    line-height: 4rem;
    text-align: center;
    margin-right: .4rem;
    box-shadow: var(--box-shadow);
    transition: all .4s linear;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-blue);
}
.icons a:last-child{
    margin-right: 0;
}
.icons a:hover,
.icons i:hover{
    background-color: var(--text-green);
    color: var(--white);
    transform: rotate(360deg);

}

.icons i#menu-bars{
    display: none;
} */


/* ------new add----- */

nav{
    overflow-x: hidden;
}
nav .navbar-brand{
    color: var(--text-black);
    text-decoration: none;
    font-weight: 500;

}


.nav-modifi li a{
    font-size: 1.8rem;
    
    color: var(--text-blue);
    text-decoration: none;
}
.nav-modifi li.active,
.nav-modifi li:hover{
    color: var(--white);
    background: var(--text-green);

}





nav{
    background-color: #ffffff;
}
.navbar-brand{
    color:var(--text-blue);
    font-size: 3rem;
}
.navbar-brand i{
    color: var(--green);
}

.nav-modifi li{
    display: inline-block;
    border-radius: .5rem;
    padding: .3rem 1.5rem;
    
    margin-right: .5rem;
    
}


/* -----navbar---- */
nav.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color: var(--white);
    z-index: 111111111;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.icons a,
.icons i{
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--grey);
    line-height: 4rem;
    text-align: center;
    margin-right: .4rem;
    box-shadow: var(--box-shadow);
    transition: all .4s linear;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-blue);
}
.icons a:last-child{
    margin-right: 0;
}
.icons a:hover,
.icons i:hover{
    background-color: var(--text-green);
    color: var(--white);
    transform: rotate(360deg);

}

.icons i#menu-bars{
    display: inline-block;
}

/* ---------mobile menu------- */
.mobile-menu{
    display: block;
}

.overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 9999;
    overflow-x: hidden;
    transition: .5s;
}
.overlay .overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}
.overlay-content a{
    display: block;
    color: #9999;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .3rem;
    padding: 1.8rem 0;
    font-weight: 400;

}
.overlay-content a:hover{
    color: #fff;
}
.overlay .close-btn{
    font-size: 5rem;
    position: absolute;
    top: 5rem;
    right: 5rem;
    text-decoration: none;
    color: #999999;
}


/* --------
header-section start
--------------- */
.header-text p{
    font-size: 1.8rem;
    color: #666666;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.header-img img{
    width: 95%;
    margin: auto;
}

/* -------------
dishes section start
------------- */
.dishes-section{
    background-color: var(--grey);
}
.dishes-section .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
}
.dishes-item{
    padding: 2.5rem;
    background-color: var(--white);
    text-align: center; 
    margin-bottom: 2.5rem;
    position: relative;
    border-radius: 1rem;
}
.dishes-item img{
    margin: 1rem 0;
}
.dishes-item h3{
    margin-bottom: .8rem;
}
.dishes-item .rating{
    margin-bottom: 1rem;
}
.dishes-item .stars i{
    color: var(--text-green);
    font-size: 1.8rem;
}
.dishes-item span{
    color: var(--text-green);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: block;
    
}
.dishes-item .fa-heart,
.dishes-item .fa-eye{
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    line-height: 4rem;
    font-size: 2rem;
    top: 1.5rem;
    background-color: var(--grey);
    color: var(--text-blue);
    cursor: pointer;
    opacity: 0;
    text-decoration: none;
    transition: all .5s ease;
}
.dishes-item .fa-heart:hover,
.dishes-item .fa-eye:hover{
    color: var(--white);
    background-color: var(--text-green);
    transform: rotate(360deg);
}
.dishes-item .fa-eye{
    left: 0rem;
    
}
.dishes-item .fa-heart{
    right: 0rem;
    
}


.dishes-item:hover .fa-heart{
    opacity: 1;
    right: 3.4rem;
    
}
.dishes-item:hover .fa-eye{
    opacity: 1;
    left: 3.4rem;
    
}

/* -- -------
Choose section start 
-- */
.choose-section .choose-pic-sec img{
    width: 98%;
    margin: auto;
    height: auto;
    animation: spin_01 8s linear infinite;

}
.choose-text-sec h2{
    color: var(--text-blue);
    font-size: 2.6rem;
}
.choose-text-sec p{
    color:#666666;
    font-size: 1.4rem;
    line-height: 2rem;
}
.icon-container{
    display: flex;
    gap: 1rem;
}
.icon-container .about-btn{
    display: flex;
    background-color: var(--grey);
    gap: .5rem;
    padding: 1rem;
    box-sizing: var(--box-shadow);
    border-radius: 5%;
}
.icon-container .about-btn i{
    font-size: 1.4rem;
    color: var(--text-green);
}
.icon-container .about-btn span{
    color: var(--text-blue);
    font-weight: 300;
    font-size: 1.2rem;
}
.choose-text-sec .btn-implement{
    margin-top: 1rem;
}


/* ---------
menu section start
------ */
.menu-section{
    background-color: var(--grey);
}
.menu-section .box-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
}
.menu-item{
    background-color: var(--white);
    padding: 2rem;
    border-radius: .5rem;
}
.menu-item img{
    width: 100%;
    
    height: 25rem;
    object-fit: cover;
    border-radius: .5rem;
    

}
.menu-item .image{
    width: 100%;
    height: auto;
    padding: 2rem;
    padding-left: 0;
    padding-top: 0;
    position: relative;
}

.menu-item .image a{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    opacity: 0;
    height: 4rem;
    width: 4rem;
    
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    text-decoration: none;
    transition: all .5s ease;


}
.menu-item .image:hover a{
    right: 3.5rem;
    opacity: 1;
}
.menu-item .image .fa-heart{
    color: var(--text-green);
    font-size: 1.6rem;
    line-height: 4rem;
}
.menu-item .stars i{
    color: var(--text-green);
    font-size: 1.8rem;
}
.menu-item .stars{
    margin-bottom: 2rem;
}

.menu-item span{
    font-size: 2.5rem;
    color: var(--text-green);

}

/* --------customar section-------- */

.customar-item{
    padding: 2rem;
    background-color: var(--grey);
    margin: 2rem;
    box-shadow: var(--box-shadow);
    position: relative;
    border-radius: 1rem;
}
.customar-item .fa-quote-right{
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    font-size: 3rem;
    color: var(--text-blue);
}
.customar-item p{
    font-size: 1.4rem;
    color: var(--text-blue);
    line-height: 2;
}

.customar-item .user .stars i{
    color: var(--text-green);
    font-size: 1.4rem;
}

.customar-item .user{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
   
    flex-wrap: wrap;

}
.customar-item .user > div{
    margin-left: 1.6rem;
}
.customar-item .user img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}



/* ----
order section start
--------- */

.order-section{
    background-color: var(--grey);
    box-shadow: var(--box-shadow);
}

.form-section{
    background-color: var(--white);
    padding: 2rem;
    width: 84%;
    margin: auto;
}
.form-section form input,
.form-section form textarea{
    background-color: var(--grey);
    border: none;
    font-size: 1.6rem;padding: 2.5rem 1rem;
}
.form-section form label{
    font-size: 1.6rem;
    color: #666666;
}
.form-section form .row{
    margin-bottom: 2rem;
}
.form-section form textarea{
    padding-top: .5rem;
    height: 18rem;
    resize: none;
}

/* ----------
footer section start
----------- */
.footer-section .footer-item ul li{
    display: block;
    margin-bottom: 1rem;
}
.footer-item h3{
    margin-bottom: 2rem;
}
.footer-item ul li{
    font-size: 1.6rem;
    color: var(--text-blue);
}
.footer-item.location ul li:hover{
    color: var(--text-green);
}
.footer-item.abc ul li a{
    color: var(--text-blue);
}
.footer-item.abc ul li:hover a{
    color: var(--text-green);
}
.footer-section hr{
    color: #333;
}
.copywrite-text{
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--text-blue);
}
.copywrite-text span{
    color: var(--text-green);
}
/* 
---------loader part----- */

.loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;left: 0;
    bottom: 0;
    z-index: 1000000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img{
    width: 35rem;
}
.fade-out{
    top:-110%;
    opacity: 0;
}







/* -------media quary------ */
@media(max-width:992px){
    html{
        font-size: 55%;
    }
    nav .nav-modifi{
        display: none;
        width: 0;
        height: 0;
    }
    nav .icons #menu-bars{
        display: inline-block;
    }
    header{
        padding: 1rem 2rem;
    }
    .form-section{
        
        width: 95%;
        
    }
    /* header .icons #menu-bars{
        display: inline-block;
    }
    header .nav-bar{
        display: none;
    } */
}
/* @media(max-width:900px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .nav-bar{
        display: none;
    }
   
} */
@media(max-width:768px){
    .header-text{
        margin-bottom: 7rem;
    }
    /* .owl-carousel .owl-item img{
        width: 90%;
    } */
    header .header-img img{
        width: 90%;
        
    }
    .choose-section .choose-text-sec{
        
        text-align: center;
    }
    .choose-section .choose-text-sec .icon-container{
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .menu-item img{
        height: auto;
        
    }
    .form-section{
        
        width: 100%;
        
    }
    .form-section form .row{
        display: block;
        margin-bottom: 0;
    }
    .form-section .row .col{
        margin-bottom: 2rem;
    }
    /* .menu-section .box-content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
        gap: 1.5rem;
    } */
    
}

@media(max-width:568px){
    html{
        font-size: 50%;
    }
    /* .dishes-item img{
        width: 90%;
    }
    .menu-section .box-content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        gap: 1.5rem;
    } */
    
}





.search-section{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51,.8);
    top: -110%;
    right: 0;
    left: 0;
    z-index: 10000000;
    opacity: 0;
    transition: all .5s ease;
    overflow: hidden;

    
}
.search-section a{
    font-size: 6rem;
    font-weight: 500;
    color:var(--white);
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    text-decoration: none;
}
.search-section .input-group{
    width: 35rem;

}
.search-section input{
    background-color: rgba(51, 51, 51,.5);
    font-size: 2rem;
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
}
.search-section .fa-search{
    font-size: 3rem;
    color: var(--white);
    font-weight: bold;
    
}
.search-section input:focus{
    outline: none;
    background-color: rgba(51, 51, 51,.5);
    border: none;
    border-bottom: 1px solid var(--white);
    box-shadow: none;
    color: var(--white);
    
}
.search-section input::placeholder{
    color: var(--white);
}
.search-section input::-ms-input-placeholder{
    color: var(--white);
}

.fade-in{
    top: 0;
    opacity: 1;
}

.fade-out{
    top:-110%;
    opacity: 0;
}